* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;

  object-fit: cover;
  object-position: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-link {
  text-decoration: none;
  color: currentColor;
  border: 1px solid #ece8e8;
  border-top: none;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
